# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

# consul-ecs as code owner by default.
# later matches take precedence.

@hashicorp/consul-ecs

/.github/workflows/* @hashicorp/release-engineering @hashicorp/consul-ecs
