# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0


* @hashicorp/consul-selfmanage-maintainers @hashicorp/team-consul-platform

/.github/workflows/* @hashicorp/consul-selfmanage-maintainers
