# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

name: go-fmt-and-lint-acceptance

on:
  workflow_call:
    inputs:
      go-version:
        description: "Golang version to be used by this workflow"
        required: true
        type: string

jobs:
  go-fmt-and-lint-acceptance:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./test/acceptance
    steps:
    - name: Checkout
      uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # v6.0.2
    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ inputs.go-version }}
        cache-dependency-path: ./test/acceptance/go.sum
    - name: Go CI lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v2.8.0
        working-directory: ./test/acceptance
        args: --timeout=5m --config=.golangci.yml
    - name: Lint Consul retry
      run: |
        go install github.com/hashicorp/lint-consul-retry@v1.3.0
        lint-consul-retry