# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

name: reusable-ecs-example-validator

on:
  workflow_call:
    inputs:
      name:
        description: "The name of the job"
        required: true
        type: string
      scenario:
        description: "The name of the scenario that needs to be tested on ECS. This will be passed as an environment variable to the test."
        required: true
        type: string
      go-version:
        description: "Version of Go to use to run the tests"
        required: true
        type: string

env:
  TEST_RESULTS: /tmp/test-results
  GOTESTSUM_VERSION: 1.8.0
  CONSUL_LICENSE: ${{ secrets.CONSUL_LICENSE }}
  HCP_CLIENT_ID: ${{ secrets.HCP_CLIENT_ID }}
  HCP_CLIENT_SECRET: ${{ secrets.HCP_CLIENT_SECRET }}
  HCP_PROJECT_ID: ${{ secrets.HCP_PROJECT_ID }}
  TEST_SCENARIO: ${{ inputs.scenario }}

jobs:
  example-validator:
    name: ${{ inputs.name }}
    runs-on: ['ubuntu-latest']
    defaults:
      run:
        working-directory: ./test/acceptance/examples
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Setup Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ inputs.go-version }}
        cache-dependency-path: ./test/acceptance/go.sum
    - name: Install gotestsum
      run: |
        curl -sSL "https://github.com/gotestyourself/gotestsum/releases/download/v${{ env.GOTESTSUM_VERSION }}/gotestsum_${{ env.GOTESTSUM_VERSION }}_linux_amd64.tar.gz" | \
        tar -xz --overwrite -C /usr/local/bin gotestsum
    - name: Install AWS CLI
      run: |
        curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
        sudo dpkg -i session-manager-plugin.deb
        aws --version
        echo session-manager-plugin version "$(session-manager-plugin --version)"
    - name: Install AWS ECS CLI
      run: |
        curl -sSL "https://amazon-ecs-cli.s3.amazonaws.com/ecs-cli-linux-amd64-latest" -o /usr/local/bin/ecs-cli
        chmod +x /usr/local/bin/ecs-cli
        ecs-cli --version
    - name: Assume AWS IAM Role
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: ${{ secrets.AWS_ECS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_ECS_REGION }}
        aws-access-key-id: ${{ secrets.AWS_ECS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_ECS_SECRET_ACCESS_KEY }}
        role-duration-seconds: 7200
    - name: Validation
      run: |
        mkdir -p "$TEST_RESULTS"
        gotestsum --junitfile "$TEST_RESULTS/gotestsum-report.xml" --format standard-verbose -- ./... -p 1 -timeout 1h -v -failfast
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      with:
        name: acceptance-test-results
        path: ${{ env.TEST_RESULTS }}/gotestsum-report.xml
