# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

name: terraform-fmt

on:
  workflow_call:

jobs:
  terraform-fmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
<<<<<<< HEAD
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
=======
      uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # v6.0.2
>>>>>>> release/0.9.x
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.4.2
    - name: Validate
      run: terraform fmt -check -recursive .