# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

name: go-fmt-and-lint-acceptance

on:
  workflow_call:
    inputs:
      go-version:
        description: "Golang version to be used by this workflow"
        required: true
        type: string

jobs:
  go-fmt-and-lint-acceptance:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./test/acceptance
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Setup Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ inputs.go-version }}
        cache-dependency-path: ./test/acceptance/go.sum
    - name: Go CI lint
      uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v3.7.1
      with:
        args: "--verbose --enable gofmt"
        only-new-issues: false
        skip-pkg-cache: true
        skip-build-cache: true
        working-directory: ./test/acceptance
    - name: Lint Consul retry
      run: |
        go install github.com/hashicorp/lint-consul-retry@v1.3.0
        lint-consul-retry