# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

name: get-go-version

on:
  workflow_call:
    outputs:
      go-version:
        description: "The Go version detected by this workflow"
        value: ${{ jobs.get-go-version.outputs.go-version }}

jobs:
  get-go-version:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./test/acceptance
    outputs:
      go-version: ${{ steps.get-go-version.outputs.go-version }}
    steps:
    - name: Checkout
      uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # v6.0.2
    - name: Determine Go version
      id: get-go-version
      run: |
        echo "Building with Go $(cat .go-version)"
        echo "go-version=$(cat .go-version)" >> "$GITHUB_OUTPUT"